{
  "plugins": ["node", "security"],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "node/no-unsupported-features": [2, {"version": 8}]
  },
  "overrides": [{
    "files": "**/*.test.js",
    "rules": {
      "node/no-unpublished-require": 0,
      "node/no-missing-require": 0
    }
  }]
}
